<!DOCTYPE html>
<html>

<head>
    <title>
        Connect
    </title>
    <meta name="robots" content="noindex, nofollow">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="./" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://d3cuh014go2nda.cloudfront.net/global/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/styles/loader.css">
    <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==" src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==" type="text/javascript">
        window.heap = window.heap || [], heap.load = function (e, t) {
            window.heap.appid = e, window.heap.config = t = t || {};
            var r = t.forceSSL || "https:" === document.location.protocol,
                a = document.createElement("script");
            a.type = "text/javascript", a.async = !0, a.src = (r ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap-" + e + ".js";
            var n = document.getElementsByTagName("script")[0];
            n.parentNode.insertBefore(a, n);
            for (var o = function (e) {
                return function () {
                    heap.push([e].concat(Array.prototype.slice.call(arguments, 0)))
                }
            }, p = ["addEventProperties", "addUserProperties", "clearEventProperties", "identify", "resetIdentity", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"], c = 0; c < p.length; c++) heap[p[c]] = o(p[c])
        };
        heap.load("490363613");
    </script>
    <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==" async
        src="https://www.googletagmanager.com/gtm.js?id=GTM-TQ5D84C&nonce=Hg5F/VDpALFrdOCYRvBAvQ=="></script>


</head>


<style>
    #pipeline-bx li label {
        width: 26px;
        height: 26px;
        border-radius: 50px;
        margin: 5px 10px;
    }

    .pipeline-box {
        margin-top: 10px;
        display: none;
    }
</style>

<body class>

    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQ5D84C&nonce=Hg5F/VDpALFrdOCYRvBAvQ=="
            height="0" width="0" style="display:none;visibility:hidden;"></iframe></noscript>

    {{> nav}}

    <div class="container-fluid">
        <div class="row">
            {{> sidebar}}
            <div class="fg-main-content-wrap col-xl-11 col-lg-11 col-md-12 p-0">
                {{> NameHead}}
                <div class="container min-vh-100">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="tab-content" id="nav-tabContent">

                                <div class="tab-pane fade show active" id="nav-application-tab" role="tabpanel"
                                    aria-labelledby="application-tab">
                                    <div class="row">

                                        <div class="clearfix"></div>

                                        <div class="clearfix"></div>
                                        <div class="col-md-3">
                                            <div class="card border-0">
                                                <div class="card-body text-center p-30">
                                                    <img src="agency.png" class="border-0 product-img"
                                                        style="width: 80px;height:80px;">
                                                    <h3 class="text-bodycolor m-t-20 m-b-20">360followups Apps</h3>
                                                    <p class="text-secondary font-14 m-b-0">
                                                        Integrate different applications and start automating your work.
                                                    </p>
                                                    <a target="_blank" href="/connect"
                                                        class="btn btn-outline-secondary border m-t-25 font-15">Access
                                                        Now</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                        </div>
                                        <div class="col-md-6">
                                            <button type="button" onclick="showPipeBox()"
                                                class="btn btn-outline-primary font-15">
                                                <i class="fas fa-plus-circle font-12"></i>
                                                <span class="ml-1 d-none d-sm-inline">Add Pipeline</span>
                                            </button>
                                            <div class="pipeline-box card border-0">

                                                <form action="/pipeline" method="post" class="row g-3 ">

                                                    <div class="col-auto">

                                                        <input type="text" class="form-control" id="inputPassword2"
                                                            name="title" placeholder="Add Pipline">
                                                    </div>
                                                    <div class="col-auto">
                                                        <input type="color" name="color">
                                                    </div>
                                                    <div class="col-auto">
                                                        <button type="submit" class="btn btn-primary mb-3">Add</button>
                                                    </div>
                                                </form>

                                                <ul id="pipeline-bx">
                                                    {{#each pipelines}}
                                                    <div style="display: flex; justify-content: space-between;">
                                                        <li style="list-style: none;">
                                                            <form style="display: flex; justify-content: space-between;"
                                                                action="/pipeline/update/{{_id}}" method="post">
                                                                <input type="text" disabled id="title{{_id}}"
                                                                    name="title" value="{{title}}">

                                                                <label for="color{{_id}}" id="colorLabel{{_id}}"
                                                                    style="width: 26px; height: 26px; border-radius: 50px; margin: 5px 10px; background-color: {{color}}"></label>

                                                                <input style="opacity: 0;" disabled type="color"
                                                                    id="color{{_id}}" name="color" value="{{color}}">

                                                                <button type="submit"
                                                                    style="border: none; outline: none;" hidden
                                                                    class="sub-btn" id="submit-btn{{_id}}"><i
                                                                        class="fa-solid fa-square-check"></i></button>
                                                            </form>
                                                        </li>
                                                        <span>
                                                            <span>
                                                                <i onclick="updatePiplineForm('{{_id}}')"
                                                                    class="fa-solid fa-pen-to-square"></i>
                                                                <a href="/pipeline/del/{{_id}}"><i
                                                                        class="fa-regular fa-trash-can"></i></a>
                                                            </span>
                                                        </span>
                                                    </div>
                                                    {{/each}}
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="border-dashed border-light-blue m-t-10"></div>
                            <h2 class="text-bodycolor m-t-30">Exclusive Limited Time Offer</h2>
                            <div class="card m-t-20 border-0">
                                <div class="card-body p-t-20 p-b-20">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-lg-7 col-md-7 col-sm-7">
                                            <div class="d-flex">
                                                <img class="rounded-circle img-fluid border-0 w-100 m-w-80 h-100"
                                                    data-cfsrc="/images/robot.png"
                                                    style="display:none;visibility:hidden;"><noscript><img
                                                        src="/images/robot.png"
                                                        class="rounded-circle img-fluid border-0 w-100 m-w-80 h-100"></noscript>
                                                <div class="m-l-15">
                                                    <span class="badge badge-light-green">Limited Time Offer</span>
                                                    <p class="text-bodycolor font-20 m-0">360followups Connect Exclusive
                                                        One Time Offer</p>
                                                    <span class="font-14 text-secondary">Pay Once & get Lifetime
                                                        Access to Pabbly Connect without any Recurring Fee!</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 text-right">
                                            <div>
                                                <div class="text-bodycolor font-26 font-demi align-middle">$699
                                                </div>
                                                <span class="font-14 font-medium text-secondary">One Time
                                                    Payment Plan</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 text-right">
                                            <div class="d-flex justify-content-end align-items-center">
                                                <a href="https://www.pabbly.com/connect-onetime/?utm_source=website&utm_medium=accountdashboard&utm_campaign=pcot"
                                                    target="_blank" class="btn btn-primary font-15">View Offer</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card m-t-20 m-b-80 border-0">
                                <div class="card-body p-t-20 p-b-20">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-lg-7 col-md-7 col-sm-7">
                                            <div class="d-flex">
                                                <img class="rounded-circle img-fluid border-0 w-100 m-w-80 h-100"
                                                    data-cfsrc="/images/dollor.png"
                                                    style="display:none;visibility:hidden;"><noscript><img
                                                        src="/images/dollor.png"
                                                        class="rounded-circle img-fluid border-0 w-100 m-w-80 h-100"></noscript>
                                                <div class="m-l-15">
                                                    <span class="badge badge-light-green">Limited Time Offer</span>
                                                    <p class="text-bodycolor font-20 m-0">360followups Billing Exclusive
                                                        One Time Offer</p>
                                                    <span class="font-14 text-secondary">Pay Once & get Lifetime
                                                        Access to Subscription Billing without any Recurring
                                                        Fee!</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 text-right">
                                            <div>
                                                <div class="text-bodycolor font-26 font-demi align-middle">$699
                                                </div>
                                                <span class="font-14 font-medium text-secondary">One Time
                                                    Payment Plan</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 text-right">
                                            <div class="d-flex justify-content-end align-items-center">
                                                <a href="" target="_blank" class="btn btn-primary font-15">View
                                                    Offer</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pl-0 pr-0 pl-sm-3 pr-sm-3">
                            <div class="tab-content" id="team-section">
                                <!--Tab Content Pane 1-->
                                <div class="tab-pane fade show active m-b-45" id="nav-workflow-tab" role="tabpanel"
                                    aria-labelledby="workflow-tab">
                                    <div class="card">
                                        <div class="card-header p-t-15 p-b-15">
                                            <div class="row align-items-center">
                                                <div class="col-md-5 col-6">
                                                    <h3 class="text-bodycolor m-b-0 p-t-5 p-b-5"><span
                                                            data-toggle="tooltip" data-placement="top"
                                                            data-original-title="Add team members and share workflow(s) or folder(s) access with them.">Team
                                                            Members</span></h3>
                                                </div>
                                                <div id="add-member-form" style=" 
            display: none;
        ">
                                                    <form id="member-form">
                                                        <label for="name">Name:</label>
                                                        <input type="text" id="name" name="name" required>
                                                        <label for="email">Email:</label>
                                                        <input type="email" id="email" name="email" required>
                                                        <button type="submit">Submit</button>
                                                    </form>
                                                </div>
                                                <div
                                                    class="col-md-7 col-6 text-right pt-1 pt-sm-0 p-l-0 d-flex justify-content-end">
                                                    <button id="removeTeamMemberBtn" type="button" data-toggle="tooltip"
                                                        data-placement="top"
                                                        data-original-title="Click here to remove team members access."
                                                        class="btn btn-primary font-15 m-r-10 d-none"
                                                        onclick="bulk_delete_team_member()">
                                                        <i class="fas fa-minus-circle rounded font-12"></i>
                                                        <span class="m-l-5 d-none d-sm-inline">Remove</span>
                                                    </button>
                                                    <button type="button" data-toggle="tooltip" data-placement="top"
                                                        data-original-title="Add A team member and share workflow(s) or folder(s) with them."
                                                        onclick="show_team_member_modal()"
                                                        class="btn btn-outline-primary font-15"
                                                        data-target="#team_member_modal"><i
                                                            class="fas fa-plus-circle font-12"></i>
                                                        <span class="ml-1 d-none d-sm-inline">Add Team Member</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" card-body ">
                                            <div class="p-20 text-center">
                                                <p class="text-secondary m-b-0">You have not added any team members yet.
                                                    You can add a team member and share access to workflows or folders
                                                    with them.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


           {{> footer}}

        </div>
    </div>
    <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==" src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh"
        crossorigin="anonymous"></script>
    <script nonce="Hg5F/VDpALFrdOCYRvBAvQ=="
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script nonce="Hg5F/VDpALFrdOCYRvBAvQ=="
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <script nonce="Hg5F/VDpALFrdOCYRvBAvQ=="
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.12/js/bootstrap-select.js"></script>

    <script nonce="Hg5F/VDpALFrdOCYRvBAvQ=="
        src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    <script src="/js/dependencies/sweetalert.min.js?nonce=Hg5F/VDpALFrdOCYRvBAvQ=="></script>



    <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==" src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="/assets/js/timezones.full.min.js"></script>

    <script src="/assets/js/custom-new.js"></script>
    <script>

    </script>
    <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==" type="text/javascript">
        $(document).ready(function () {
            $('#signup').on('submit', function () {
                $('.loader-display').css('display', 'block');
            });
        });
    </script>
    <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==">
        $(window).scroll(function () {
            if ($(window).scrollTop() >= 72) {
                $('#top_header').addClass('sticky');
            } else {
                $('#top_header').removeClass('sticky');
            }
        });
    </script>
    <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==">
        $('#nav-tab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        // store the currently selected tab in the hash value
        $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
            var id = $(e.target).attr("href").substr(1);
            console.log("id", id);
            window.location.hash = id;
        });

        // on load of the page: switch to the currently selected tab
        var hash = window.location.hash;
        $('#nav-tab a[href="' + hash + '"]').tab('show');
    </script>


    <script>
        function addPipelineForm() {
            let popform = document.querySelector('#add-pipeline-form')
            if (popform.style.display === 'none')
                popform.style.display = 'block'
            else
                popform.style.display = 'none'

        }

        let flag = 0;
        function updatePiplineForm(id) {
            const titleInput = document.getElementById(`title${id}`);
            const colorInput = document.getElementById(`color${id}`);
            const submitBtn = document.getElementById(`submit-btn${id}`);

            if (titleInput.disabled && colorInput.disabled) {
                // Enable editing
                titleInput.disabled = false;
                colorInput.disabled = false;
                submitBtn.hidden = false;
            } else {
                // Prevent further editing
                titleInput.disabled = true;
                colorInput.disabled = true;

                submitBtn.hidden = true;
            }

        }

        function showPipeBox() {
            let pipeBox = document.querySelector('.pipeline-box')
            if (pipeBox.style.display === 'none')
                pipeBox.style.display = 'block'
            else
                pipeBox.style.display = 'none'

        }

    </script>
</body>

</html>