<!DOCTYPE html>
<html>

<head>
    <title>
        Connect
    </title>
    <meta name="robots" content="noindex, nofollow">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="./" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://d3cuh014go2nda.cloudfront.net/global/assets/css/main.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    {{!-- //dashboardcontent --}}
    <link rel="stylesheet" href="vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="vendors/selectFX/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="vendors/jqvmap/dist/jqvmap.min.css">


    <link rel="stylesheet" href="/assets/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>


    <link rel="stylesheet" type="text/css" href="/styles/loader.css">
    <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==" src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==" type="text/javascript">
        window.heap = window.heap || [], heap.load = function (e, t) {
            window.heap.appid = e, window.heap.config = t = t || {};
            var r = t.forceSSL || "https:" === document.location.protocol,
                a = document.createElement("script");
            a.type = "text/javascript", a.async = !0, a.src = (r ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap-" + e + ".js";
            var n = document.getElementsByTagName("script")[0];
            n.parentNode.insertBefore(a, n);
            for (var o = function (e) {
                return function () {
                    heap.push([e].concat(Array.prototype.slice.call(arguments, 0)))
                }
            }, p = ["addEventProperties", "addUserProperties", "clearEventProperties", "identify", "resetIdentity", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"], c = 0; c < p.length; c++) heap[p[c]] = o(p[c])
        };
        heap.load("490363613");
    </script>
    <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==" async
        src="https://www.googletagmanager.com/gtm.js?id=GTM-TQ5D84C&nonce=Hg5F/VDpALFrdOCYRvBAvQ=="></script>


</head>

<style>
    .modal {
        display: none;

        position: fixed;
        z-index: 100000000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: none;

        position: fixed;
        z-index: 100000000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-content {
        background-color: #fff;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 300px;
        text-align: center;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    #whatsappReadyMessage {
        display: none;
        color: green;
        font-weight: bold;
        margin-top: 10px;
    }
</style>


<style>
    #pipeline-bx li label {
        width: 26px;
        height: 26px;
        border-radius: 50px;
        margin: 5px 10px;
    }

    .pipeline-box {
        margin-top: 10px;
        display: none;
    }
</style>

<body class>

    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQ5D84C&nonce=Hg5F/VDpALFrdOCYRvBAvQ=="
            height="0" width="0" style="display:none;visibility:hidden;"></iframe></noscript>

    <div class="container-fluid" id="dashboard-content">
        <div class="row">
            {{> sidebar}}
            <div class="fg-main-content-wrap col-xl-11 col-lg-11 col-md-12 p-0 home-section ">
                {{> NameHead}}
                <div class="content ">

                    {{#if successMSG}}
                    <div class="col-sm-12">
                        <div id="alert-success" class="alert  alert-success alert-dismissible fade show" role="alert">
                            <span class="badge badge-pill badge-success">Success</span> {{successMSG}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    {{/if}}


                    <div class="row">
                        <!--/.col-->
                        <div class="col-lg-3 col-md-6">
                            <div class="social-box facebook">
                                <i class="fa-brands fa-square-facebook"></i>
                                <a class="btn
                                 
                                 {{#if facebookToken }}
                                    btn-primary
                                    {{else}}
                                    btn-outline-secondary
                                    {{/if}}
                                  border font-15">
                                    {{#if facebookToken }}
                                    Connected
                                    {{else}}
                                    Not Connected
                                    {{/if}}
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="social-box twitter">
                                <i class="fa-brands fa-whatsapp"></i>

                                <a id="whatsapp-Connect-Btn" 
                                class="btn 
                                {{#if whtsConn.isConnected }}
                                    btn-success
                                    {{else}}
                                    btn-outline-secondary
                                    {{/if}}
                                
                                 border font-15">
                                    {{#if whtsConn.isConnected }}
                                    Connected
                                    {{else}}
                                    Not Connected
                                    {{/if}}
                                </a>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-6" style="opacity: 0.3;">
                        <div class="social-box linkedin">
                            <i class="fa fa-download"></i>
                            {{!-- <a class="btn btn-outline-secondary border  font-15" href="#">Download
                                Data </a> --}}
                            <a href="#" class="btn border font-15">Download
                                Data</a>
                        </div>
                        <!--/social-box-->
                    </div>
                    <div class="col-lg-3 col-md-6" style="opacity: 0.3;">
                        <div class="social-box mailchimp">
                            <i class="fab fa-mailchimp"></i>
                         
                            {{!-- <a class="btn btn-outline-secondary border  font-15" href="#">connect now </a> --}}
                            <a class="btn border  font-15" href="#">connect now </a>
                        </div>
                        <!--/social-box-->
                    </div>
                        {{!-- <div class="col-lg-3 col-md-6">
                            <div class="social-box twitter">


                                <a id="whatsapp-Connect-Btn" class="btn btn-outline-secondary border font-15">
                                    {{#if whtsConn.isConnectd }}
                                    Connected
                                    {{else}}
                                    Not Connected
                                    {{/if}}
                                </a>
                            </div>

                        </div> --}}
                        {{!-- <div class="col-lg-3 col-md-6">
                            <div class="social-box twitter">


                                <a id="whatsapp-Connect-Btn" class="btn btn-outline-secondary border font-15">
                                    {{#if whtsConn.isConnectd }}
                                    Connected
                                    {{else}}
                                    Not Connected
                                    {{/if}}
                                </a>
                            </div>

                        </div> --}}

                    </div>
                    <div class="row ">

                        {{#each pipes}}

                        <div class="col-sm-6 col-lg-3">
                            <div class="card text-white" style="background-color: {{color}};">
                                <div class="card-body pb-0">
                                    <h4 class="mb-0">
                                        <span class="count" style="font-size: x-large;">
                                            {{countLeadsByStatus ../user.myleads title}}
                                        </span>
                                    </h4>
                                    <p style="font-size: x-large;" class="text-light">{{title}}</p>

                                    {{!-- <div class="chart-wrapper px-0" style="height:70px;" height="70">
                                        <canvas id="widgetChart1"></canvas>
                                    </div> --}}
                                </div>

                            </div>
                        </div>
                        {{/each}}


                    </div>

                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h4 class="card-title mb-0">Graphical lead performance insights</h4>
                                        {{!-- <div class="small text-muted">Lead Analytics</div> --}}
                                    </div>
                                </div>
                                <!--/.row-->
                                <div class="chart-wrapper mt-4">
                                    <canvas id="competitionGraph" style="width:800px; height:300px;"
                                        height="300"></canvas>
                                </div>

                            </div>


                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-6">

                        <section class="card" style="min-height: 400px;">
                             <form action="/member/profile/image" hidden="true" id="user-image-change-form" enctype="multipart/form-data" method="post">
                        <input onchange="changeProfileImage()" type="file" name="userImage" id="user-profile-image-input" accept="image/*" required>
                       </form>
                            <div class="profile-card">
                                <div  class="corner-ribon black-ribon">
                                    <label for="user-profile-image-input"><i class="fas fa-edit"></i></label>
                                </div>

                                <div class="media">

                                    <div class="media-body">
                                        <div class="profile-details">

                                            {{#if user.profilePicture}}
                                            <img id="user_image" width="70" height="70" src="/images/uploads/profile/member/{{user.profilePicture}}"
                                                class="rounded-circle">
                                            {{else}}
                                            <img id="user_image" width="70" height="70"
                                                src="//www.gravatar.com/avatar/9ef7cb630b294dc458d676560e96d060?d=http%3A%2F%2Faccounts.pabbly.com%2Fimages%2Fdefault-profile-pic.png"
                                                class="rounded-circle">
                                            {{/if}}

                                        </div>
                                        <h2 class="text-white display-6">{{user.name}}</h2>
                                        <p class="text-light">{{user.email}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="weather-category twt-category">
                                <ul>
                                    {{!-- <li class="active">
                                        <h5>{{leads.length}}</h5>
                                        Leads
                                    </li> --}}
                                    <li>
                                        <h5>{{leads.length}}</h5>
                                        Total leads
                                    </li>
                                    <li>
                                        <h5>{{user.myleads.length}}</h5>
                                        My leads
                                    </li>
                                    <li>
                                        <h5>{{countLeadsByStatus user.myleads 'win'}}</h5>
                                        My win leads
                                    </li>
                                </ul>
                            </div>
                            <a href="/profile" id="acc-Btn" class="btn btn-outline-secondary border ml-4 mr-4 font-15">update profile</a>
                            <footer class="twt-footer">
                                {{!-- <a href="#"><i class="fa fa-camera"></i></a> --}}
                                <a href="#"><i class="fa fa-map-marker"></i></a>
                                <a id="location-title"></a>
                                <span id="location-localtime" class="pull-right">
                                    
                                </span>
                            </footer>
                        </section>
                    </div>

                    


                </div>
            </div>


            {{> footer}}

        </div>
    </div>
    <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==" src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh"
        crossorigin="anonymous"></script>
    <script nonce="Hg5F/VDpALFrdOCYRvBAvQ=="
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script nonce="Hg5F/VDpALFrdOCYRvBAvQ=="
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <script nonce="Hg5F/VDpALFrdOCYRvBAvQ=="
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.12/js/bootstrap-select.js"></script>

    <script nonce="Hg5F/VDpALFrdOCYRvBAvQ=="
        src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    <script src="/js/dependencies/sweetalert.min.js?nonce=Hg5F/VDpALFrdOCYRvBAvQ=="></script>



    <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==" src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="/assets/js/timezones.full.min.js"></script>

    <script src="/assets/js/custom-new.js"></script>
    <script>

    </script>
    <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==" type="text/javascript">
        $(document).ready(function () {
            $('#signup').on('submit', function () {
                $('.loader-display').css('display', 'block');
            });
        });
    </script>
    <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==">
        $(window).scroll(function () {
            if ($(window).scrollTop() >= 72) {
                $('#top_header').addClass('sticky');
            } else {
                $('#top_header').removeClass('sticky');
            }
        });
    </script>
    <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==">
        $('#nav-tab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        // store the currently selected tab in the hash value
        $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
            var id = $(e.target).attr("href").substr(1);
            console.log("id", id);
            window.location.hash = id;
        });

        // on load of the page: switch to the currently selected tab
        var hash = window.location.hash;
        $('#nav-tab a[href="' + hash + '"]').tab('show');
    </script>



    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // console.log("hello ji")
        const leads = {{{ json user.myleads }}};
        // console.log(leads);
        const pipelines = {{{ json pipes }}};
        // console.log(pipelines);

        const pipelineMap = {};
        pipelines.forEach(pipe => {
            pipelineMap[pipe.title] = {
                color: pipe.color + '40',
                count: 0
            };
        });

        console.log('pipe object =========', pipelineMap)

        const processedData = {};

        console.log('val of status', leads[1].status.title)
        leads.forEach(lead => {
            const date = new Date(lead.income_time).toISOString().split('T')[0];
            const statusTitle = lead.status ? lead.status.title : 'Unknown'; // Default status title

            if (!processedData[date]) {
                processedData[date] = {};
            }

            if (pipelineMap[statusTitle]) {
                if (!processedData[date][statusTitle]) {
                    processedData[date][statusTitle] = 0;
                }
                processedData[date][statusTitle]++;
            } else {
                // Handle unknown status if needed
                if (!processedData[date]['Unknown']) {
                    processedData[date]['Unknown'] = 0;
                }
                processedData[date]['Unknown']++;
            }
        });
        console.log("611====", processedData)
        // Prepare data for the graph
        const labels = Object.keys(processedData);
        const datasets = Object.keys(pipelineMap).map(statusTitle => {
            return {
                label: statusTitle,
                data: labels.map(date => processedData[date][statusTitle] || 0),
                backgroundColor: pipelineMap[statusTitle].color, // Use backgroundColor for area chart
                borderColor: pipelineMap[statusTitle].color, // Optional, to keep the border color
                borderWidth: 1,
                outerWidth: 1,
                innerWidth: 1,

                fill: true,
                tension: 1, // Set fill to true for area chart
            };
        });

        const ctx = document.getElementById('competitionGraph').getContext('2d');
        const competitionData = {
            labels: labels,
            datasets: datasets
        };

        const config = {
            type: 'bar', // 'line' type can be used for area charts too
            data: competitionData,
            options: {
                scales: {
                    x: { title: { display: true, text: 'Income Time' } },
                    y: { title: { display: true, text: 'Number of Leads' } },
                },

            },
        };

        new Chart(ctx, config);
    </script>

 <script>
    async function getLocation(leti,logi) {
      const data = await fetch(`https://api.weatherapi.com/v1/current.json?key=fffb3eafa2394421ae9120857242309&q=${leti},${logi}&api=yes`)
      let city = await data.json()
      console.log(city);

    let space = document.querySelector('#location-title')
    let spacetime = document.querySelector('#location-localtime')
    space.innerHTML = `${city.location.name},${city.location.country}`
    spacetime.innerHTML = `${city.location.localtime}`
    }
    
    function getData(position) {
      // console.log(position);
      getLocation(position.coords.latitude,position.coords.longitude)
    }
    function getErr() {
      console.log("Oops, Somehing went wrong !");
    }

    document.addEventListener('DOMContentLoaded', async()=>{
      navigator.geolocation.getCurrentPosition(getData,getErr)
    })
  </script>
     <script>
    function changeProfileImage(){
    let imageInpForm = document.querySelector('#user-image-change-form');
        imageInpForm.submit()

    }
  </script>
</body>

</html>