<!DOCTYPE html>
<html>

<head>
  <title>
    Connect
  </title>
  <meta name="robots" content="noindex, nofollow">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="./" />
  <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.0/css/all.css">

  <link rel="stylesheet" href="https://d3cuh014go2nda.cloudfront.net/global/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/custom.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


  <link rel="stylesheet" type="text/css" href="/styles/loader.css">
  <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==" src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==" type="text/javascript">
    window.heap = window.heap || [], heap.load = function (e, t) {
      window.heap.appid = e, window.heap.config = t = t || {};
      var r = t.forceSSL || "https:" === document.location.protocol,
        a = document.createElement("script");
      a.type = "text/javascript", a.async = !0, a.src = (r ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap-" + e + ".js";
      var n = document.getElementsByTagName("script")[0];
      n.parentNode.insertBefore(a, n);
      for (var o = function (e) {
        return function () {
          heap.push([e].concat(Array.prototype.slice.call(arguments, 0)))
        }
      }, p = ["addEventProperties", "addroperties", "clearEventProperties", "identify", "resetIdentity", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"], c = 0; c < p.length; c++) heap[p[c]] = o(p[c])
    };
    heap.load("490363613");
  </script>
  <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==" async
    src="https://www.googletagmanager.com/gtm.js?id=GTM-TQ5D84C&nonce=Hg5F/VDpALFrdOCYRvBAvQ=="></script>


</head>

<body>
  {{!-- {{> nav}} --}}

  <div class="container-fluid">
    <div class="row">
      {{> sidebar}}

      <div class="fg-main-content-wrap col-xl-11 col-lg-11 col-md-11 col-sm-12 p-0 p-b-30 home-section">
        <div>
          <div class="container-fluid bg-white shadow-sm m-b-40">
            <div class="container">
              <div class="row page-titles p-t-35 p-b-15">
                <div class="col-lg-12 col-12 align-self-center">
                  <h1 class="text-bodycolor">My Payments Portal</h1>
                  <p class="text-secondary font-14"> </p>
                </div>
              </div>
            </div>
          </div>
          <div class="container min-vh-100">
            <div class="row">


              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                  <div class="card-header p-t-15 p-b-15">
                    <div class="row align-items-center">
                      <div class="col-md-12">
                        <h3 class="text-bodycolor m-b-0 p-t-5 p-b-5">Contact details </h3>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-t-0">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="table-responsive">
                          <table class="custom-table text-nowrap table m-b-0">
                            <thead>
                              <tr>
                                <th class="align-middle" scope="col">Payer Name</th>
                                <th class="align-middle" scope="col">Payer Email</th>
                                <th class="align-middle" scope="col">Payer Address</th>
                                {{!--<th class="align-middle" scope="col">Payment Id</th>
                                <th class="align-middle" scope="col">Order Id</th>
                                <th class="align-middle" scope="col">Plan Name</th>
                                <th class="align-middle" scope="col">Amount</th>
                                <th class="align-middle" scope="col">Status</th>
                                <th class="align-middle" scope="col">Payment Time</th> --}}
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>{{paymentProof.payerName}}</td>
                                <td>{{paymentProof.payerEmail}}</td>
                                <td>
                                  {{paymentProof.address.address_line_1}}
                                  {{paymentProof.address.address_line_2}}
                                  {{paymentProof.address.admin_area_2}}
                                  {{paymentProof.address.admin_area_1}}
                                  {{paymentProof.address.postal_code}}
                                  {{paymentProof.address.country_code}}
                                </td>
                                {{!-- <td>{{paymentProof.paymentId}}</td>
                                <td>{{paymentProof.orderId}}</td> --}}

                                {{!-- <td class="text-wrap">
                                  {{#ifEquals user.subscriptionLevel "free"}}
                                  Followups Lite
                                  {{else}}
                                  {{#ifEquals user.subscriptionLevel "basic"}}
                                  Followups Pro
                                  {{else}}
                                  {{#ifEquals user.subscriptionLevel "premium"}}
                                  Followups Prime
                                  {{/ifEquals}}
                                  {{/ifEquals}}
                                  {{/ifEquals}}
                                </td> --}}
                                {{!-- <td>{{paymentProof.amount}} {{paymentProof.currency}}</td> --}}

                                {{!-- <td>{{formatDate paymentProof.createdAt}}</td> --}}
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header p-t-15 p-b-15">
                    <div class="row align-items-center">
                      <div class="col-md-6 col-6 col-sm-6 col-xs-6">
                        <h3 class="text-bodycolor m-b-0 p-t-5 p-b-5">Payment Details</h3>
                      </div>
                      <div class="col-md-6 col-6 col-sm-6 col-xs-6 text-right"><a
                          class="btn btn-sm btn-outline-primary font-15"
                          href="/pricing" previewlistener="true">
                          Go to pricing</a></div>
                    </div>
                  </div>
                  <style>
                    .tdHeading {
                      font-weight: 600;
                    }
                  </style>
                  <div class="card-body p-t-0">
                    <div class="row">
                      <div class="col-md-12">
                        <table class="table">
                          <tbody>
                            <tr>
                              <td class="tdHeading">Payment Status :</td>
                              <td>
                                {{#ifEquals paymentProof.paymentStatus 'COMPLETED'}}

                                <div class="alert alert-success d-flex align-items-center" role="alert"
                                  style="margin: 0; width: fit-content;">
                                  <div>{{paymentProof.paymentStatus}}</div>
                                </div>
                                {{else}}
                                <p class="alert-warnning">{{paymentProof.paymentStatus}}</p>
                                {{/ifEquals}}
                              </td>
                              <td></td>
                              <td></td>

                            </tr>
                          </tbody>
                        </table>
                        <div class="container">
                          <div class="col-6 col-md-6">
                            <table class="table">
                              <tbody>
                                <tr>
                                  <td class="tdHeading">Order Id :</td>
                                  <td>{{paymentProof.orderId}}</td>
                                  <td class="tdHeading">Payment Id :</td>
                                  <td>{{paymentProof.paymentId}}</td>
                                </tr>
                                <tr>
                                  <td class="tdHeading">Payer Id :</td>
                                  <td>{{paymentProof.payerId}}</td>
                                  <td class="tdHeading">Payer Email :</td>
                                  <td>{{paymentProof.payerEmail}}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="col-6 col-md-6">
                            <table class="table">
                              <tbody>
                                <tr>
                                  <td class="tdHeading">Payer Name :</td>
                                  <td>{{paymentProof.payerName}}</td>
                                  <td class="tdHeading">Amount :</td>
                                  <td>{{paymentProof.amount}} {{paymentProof.currency}}</td>
                                </tr>
                                <tr>
                                  <td class="tdHeading">Pay Name :</td>
                                  <td>{{paymentProof.payerName}}</td>
                                  <td class="tdHeading">Amount :</td>
                                  <td>{{paymentProof.amount}} {{paymentProof.currency}}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        </tbody>
                        </table>
                        {{!-- <div class="card-body row bg-success">
                          <div class="col-auto">
                            <h3 class="m-b-10">heello:</h3>
                            <h3 class="m-b-10">heello:</h3>
                          </div>
                          <div class="col-auto bg-primary">
                            <p class="m-b-10">heello Lorem</p>
                            <p class="m-b-10">heello</p>
                          </div>
                        </div> --}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>




</body>

</html>