<!DOCTYPE html>
<html>

<head>
  <title>
    Connect
  </title>
  <meta name="robots" content="noindex, nofollow">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="./" />
  <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.0/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="https://d3cuh014go2nda.cloudfront.net/global/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/custom.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


  <link rel="stylesheet" type="text/css" href="/styles/loader.css">
  <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==" src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==" type="text/javascript">
    window.heap = window.heap || [], heap.load = function (e, t) {
      window.heap.appid = e, window.heap.config = t = t || {};
      var r = t.forceSSL || "https:" === document.location.protocol,
        a = document.createElement("script");
      a.type = "text/javascript", a.async = !0, a.src = (r ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap-" + e + ".js";
      var n = document.getElementsByTagName("script")[0];
      n.parentNode.insertBefore(a, n);
      for (var o = function (e) {
        return function () {
          heap.push([e].concat(Array.prototype.slice.call(arguments, 0)))
        }
      }, p = ["addEventProperties", "addUserProperties", "clearEventProperties", "identify", "resetIdentity", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"], c = 0; c < p.length; c++) heap[p[c]] = o(p[c])
    };
    heap.load("490363613");
  </script>
  <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==" async
    src="https://www.googletagmanager.com/gtm.js?id=GTM-TQ5D84C&nonce=Hg5F/VDpALFrdOCYRvBAvQ=="></script>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">  
  <link rel="stylesheet" href="/kcss/sendmail.css">
  <link rel="stylesheet" href="/assets/css/team.css">
</head>

<style>
  html,
  body {
    width: 100vw;
    height: 100vh;
  }
</style>

<style>
  /* Global Styles */

.form-container.hiden {
  display: none;
}
.form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
        position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    max-width: 450px;
    display: block;
    animation: fadeIn 1s ease-out;
}

/* Input Group Styles */
/* Input Group Styles */
.input-group {
    position: relative;
    margin-bottom: 20px;
    display: inline-block;
}

.input-group input,
.input-group textarea {
    padding: 12px 15px;
    padding-top: 12px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-group input:focus,
.input-group textarea:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
    outline: none;
}
/* Focused State for Labels */

.input-group .input-icon i {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #aaa;
}

.input-group input:focus + i,
.input-group textarea:focus + i {
    color: #007bff;
}

.button {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}


/* Responsive Styles */
@media (max-width: 768px) {
    .form-container {
        padding: 20px;
    }

    button {
        padding: 12px;
        font-size: 16px;
    }
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%,-30%);
    }
    to {
        opacity: 1;
        transform: translate(-50%,-50%);
    }
}
@keyframes fadeInDown {
    to {
        opacity: 1;
        transform: translate(-50%,-30%);
    }
}
</style>


<style>
    body,
    html {
        width: 100%;
        height: 100% !important;
    }

    #findNewLeadloader {
        width: 100%;
        min-height: 100%;
        height: 100vh;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999999;
        background-color: #908f8faa;
        background-color: #000000aa;
        display: none;
        overflow: hidden;
    }

    #finSec {
        min-width: 200px;
        width: 33.33%;
        height: 200px;
        padding: 10px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ccc;
        cursor: pointer;
        transition: 0.3s linear;
    }

    .loader-11 {
        width: 96px;
        height: 96px;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        border: 6px solid;
        border-color: #FFF #FFF transparent transparent;
        -webkit-animation: rotation 1s linear infinite;
        animation: rotation 1s linear infinite;
    }

    .loader-11:after,
    .loader-11:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border: 6px solid;
        border-color: transparent transparent #047 #047;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        -webkit-animation: rotationBack 0.5s linear infinite;
        animation: rotationBack 0.5s linear infinite;
        transform-origin: center center;
    }

    .loader-11:before {
        width: 64px;
        height: 64px;
        border-color: #FFF #FFF transparent transparent;
        -webkit-animation: rotation 1.5s linear infinite;
        animation: rotation 1.5s linear infinite;

    }

    @media (max-width: 600px) {
        .loader-11:before {
            width: 32px;
            height: 32px;
            border-color: #FFF #FFF transparent transparent;
        }

        .loader-11:after,
        .loader-11:before {
            width: 40px;
            height: 40px;
            border: 3px solid;
            border-color: transparent transparent #047 #047;
        }

        .loader-11 {
            width: 48px;
            height: 48px;
            border: 3px solid;
            border-color: #FFF #FFF transparent transparent;
        }
    }


    @-webkit-keyframes rotationBack {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(-360deg);
        }
    }

    @keyframes rotationBack {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(-360deg);
        }
    }

    @-webkit-keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .modal {
        display: none;

        position: fixed;
        z-index: 100000000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: none;

        position: fixed;
        z-index: 100000000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-content {
        background-color: #fff;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 300px;
        text-align: center;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    #whatsappReadyMessage {
        display: none;
        color: green;
        font-weight: bold;
        margin-top: 10px;
    }
</style>


<body class="naina">
   <div id="findNewLeadloader">
        <section id="finSec"><span class="loader-11"> </span></section>
    </div>
  <div id="popup-reg" class="popup">
    <div id="popup-reg" class="popup-content">

      <form id="send" action="/team/invite" onsubmit="loadMember()" method="get" class="send-form">
        <div class="form-group">
          <input type="text" placeholder="Enter name..." id="name" name="name" required="required">
          <label for="name">
            <i class="fa fa-user"></i>
          </label>
        </div>


        <div class="form-group">

          <select required id="countryCode" name="countryCode" class="form-control browser-default custom-select">
            <option data-countryCode="US" value="1">USA (+1)</option>
            <option data-countryCode="GB" value="44">UK (+44)</option>
            <option data-countryCode="DZ" value="213">Algeria (+213)</option>
            <option data-countryCode="AD" value="376">Andorra (+376)</option>
            <option data-countryCode="AO" value="244">Angola (+244)</option>
            <option data-countryCode="AI" value="1264">Anguilla (+1264)</option>
            <option data-countryCode="AG" value="1268">Antigua &amp; Barbuda (+1268)</option>
            <option data-countryCode="AR" value="54">Argentina (+54)</option>
            <option data-countryCode="AM" value="374">Armenia (+374)</option>
            <option data-countryCode="AW" value="297">Aruba (+297)</option>
            <option data-countryCode="AU" value="61">Australia (+61)</option>
            <option data-countryCode="AT" value="43">Austria (+43)</option>
            <option data-countryCode="AZ" value="994">Azerbaijan (+994)</option>
            <option data-countryCode="BS" value="1242">Bahamas (+1242)</option>
            <option data-countryCode="BH" value="973">Bahrain (+973)</option>
            <option data-countryCode="BD" value="880">Bangladesh (+880)</option>
            <option data-countryCode="BB" value="1246">Barbados (+1246)</option>
            <option data-countryCode="BY" value="375">Belarus (+375)</option>
            <option data-countryCode="BE" value="32">Belgium (+32)</option>
            <option data-countryCode="BZ" value="501">Belize (+501)</option>
            <option data-countryCode="BJ" value="229">Benin (+229)</option>
            <option data-countryCode="BM" value="1441">Bermuda (+1441)</option>
            <option data-countryCode="BT" value="975">Bhutan (+975)</option>
            <option data-countryCode="BO" value="591">Bolivia (+591)</option>
            <option data-countryCode="BA" value="387">Bosnia Herzegovina (+387)</option>
            <option data-countryCode="BW" value="267">Botswana (+267)</option>
            <option data-countryCode="BR" value="55">Brazil (+55)</option>
            <option data-countryCode="BN" value="673">Brunei (+673)</option>
            <option data-countryCode="BG" value="359">Bulgaria (+359)</option>
            <option data-countryCode="BF" value="226">Burkina Faso (+226)</option>
            <option data-countryCode="BI" value="257">Burundi (+257)</option>
            <option data-countryCode="KH" value="855">Cambodia (+855)</option>
            <option data-countryCode="CM" value="237">Cameroon (+237)</option>
            <option data-countryCode="CA" value="1">Canada (+1)</option>
            <option data-countryCode="CV" value="238">Cape Verde Islands (+238)</option>
            <option data-countryCode="KY" value="1345">Cayman Islands (+1345)</option>
            <option data-countryCode="CF" value="236">Central African Republic (+236)</option>
            <option data-countryCode="CL" value="56">Chile (+56)</option>
            <option data-countryCode="CN" value="86">China (+86)</option>
            <option data-countryCode="CO" value="57">Colombia (+57)</option>
            <option data-countryCode="KM" value="269">Comoros (+269)</option>
            <option data-countryCode="CG" value="242">Congo (+242)</option>
            <option data-countryCode="CK" value="682">Cook Islands (+682)</option>
            <option data-countryCode="CR" value="506">Costa Rica (+506)</option>
            <option data-countryCode="HR" value="385">Croatia (+385)</option>
            <option data-countryCode="CU" value="53">Cuba (+53)</option>
            <option data-countryCode="CY" value="90">Cyprus - North (+90)</option>
            <option data-countryCode="CY" value="357">Cyprus - South (+357)</option>
            <option data-countryCode="CZ" value="420">Czech Republic (+420)</option>
            <option data-countryCode="DK" value="45">Denmark (+45)</option>
            <option data-countryCode="DJ" value="253">Djibouti (+253)</option>
            <option data-countryCode="DM" value="1809">Dominica (+1809)</option>
            <option data-countryCode="DO" value="1809">Dominican Republic (+1809)</option>
            <option data-countryCode="EC" value="593">Ecuador (+593)</option>
            <option data-countryCode="EG" value="20">Egypt (+20)</option>
            <option data-countryCode="SV" value="503">El Salvador (+503)</option>
            <option data-countryCode="GQ" value="240">Equatorial Guinea (+240)</option>
            <option data-countryCode="ER" value="291">Eritrea (+291)</option>
            <option data-countryCode="EE" value="372">Estonia (+372)</option>
            <option data-countryCode="ET" value="251">Ethiopia (+251)</option>
            <option data-countryCode="FK" value="500">Falkland Islands (+500)</option>
            <option data-countryCode="FO" value="298">Faroe Islands (+298)</option>
            <option data-countryCode="FJ" value="679">Fiji (+679)</option>
            <option data-countryCode="FI" value="358">Finland (+358)</option>
            <option data-countryCode="FR" value="33">France (+33)</option>
            <option data-countryCode="GF" value="594">French Guiana (+594)</option>
            <option data-countryCode="PF" value="689">French Polynesia (+689)</option>
            <option data-countryCode="GA" value="241">Gabon (+241)</option>
            <option data-countryCode="GM" value="220">Gambia (+220)</option>
            <option data-countryCode="GE" value="7880">Georgia (+7880)</option>
            <option data-countryCode="DE" value="49">Germany (+49)</option>
            <option data-countryCode="GH" value="233">Ghana (+233)</option>
            <option data-countryCode="GI" value="350">Gibraltar (+350)</option>
            <option data-countryCode="GR" value="30">Greece (+30)</option>
            <option data-countryCode="GL" value="299">Greenland (+299)</option>
            <option data-countryCode="GD" value="1473">Grenada (+1473)</option>
            <option data-countryCode="GP" value="590">Guadeloupe (+590)</option>
            <option data-countryCode="GU" value="671">Guam (+671)</option>
            <option data-countryCode="GT" value="502">Guatemala (+502)</option>
            <option data-countryCode="GN" value="224">Guinea (+224)</option>
            <option data-countryCode="GW" value="245">Guinea - Bissau (+245)</option>
            <option data-countryCode="GY" value="592">Guyana (+592)</option>
            <option data-countryCode="HT" value="509">Haiti (+509)</option>
            <option data-countryCode="HN" value="504">Honduras (+504)</option>
            <option data-countryCode="HK" value="852">Hong Kong (+852)</option>
            <option data-countryCode="HU" value="36">Hungary (+36)</option>
            <option data-countryCode="IS" value="354">Iceland (+354)</option>
            <option data-countryCode="IN" value="91" selected>India (+91)</option>
            <option data-countryCode="ID" value="62">Indonesia (+62)</option>
            <option data-countryCode="IQ" value="964">Iraq (+964)</option>
            <option data-countryCode="IR" value="98">Iran (+98)</option>
            <option data-countryCode="IE" value="353">Ireland (+353)</option>
            <option data-countryCode="IL" value="972">Israel (+972)</option>
            <option data-countryCode="IT" value="39">Italy (+39)</option>
            <option data-countryCode="JM" value="1876">Jamaica (+1876)</option>
            <option data-countryCode="JP" value="81">Japan (+81)</option>
            <option data-countryCode="JO" value="962">Jordan (+962)</option>
            <option data-countryCode="KZ" value="7">Kazakhstan (+7)</option>
            <option data-countryCode="KE" value="254">Kenya (+254)</option>
            <option data-countryCode="KI" value="686">Kiribati (+686)</option>
            <option data-countryCode="KP" value="850">Korea - North (+850)</option>
            <option data-countryCode="KR" value="82">Korea - South (+82)</option>
            <option data-countryCode="KW" value="965">Kuwait (+965)</option>
            <option data-countryCode="KG" value="996">Kyrgyzstan (+996)</option>
            <option data-countryCode="LA" value="856">Laos (+856)</option>
            <option data-countryCode="LV" value="371">Latvia (+371)</option>
            <option data-countryCode="LB" value="961">Lebanon (+961)</option>
            <option data-countryCode="LS" value="266">Lesotho (+266)</option>
            <option data-countryCode="LR" value="231">Liberia (+231)</option>
            <option data-countryCode="LY" value="218">Libya (+218)</option>
            <option data-countryCode="LI" value="417">Liechtenstein (+417)</option>
            <option data-countryCode="LT" value="370">Lithuania (+370)</option>
            <option data-countryCode="LU" value="352">Luxembourg (+352)</option>
            <option data-countryCode="MO" value="853">Macao (+853)</option>
            <option data-countryCode="MK" value="389">Macedonia (+389)</option>
            <option data-countryCode="MG" value="261">Madagascar (+261)</option>
            <option data-countryCode="MW" value="265">Malawi (+265)</option>
            <option data-countryCode="MY" value="60">Malaysia (+60)</option>
            <option data-countryCode="MV" value="960">Maldives (+960)</option>
            <option data-countryCode="ML" value="223">Mali (+223)</option>
            <option data-countryCode="MT" value="356">Malta (+356)</option>
            <option data-countryCode="MH" value="692">Marshall Islands (+692)</option>
            <option data-countryCode="MQ" value="596">Martinique (+596)</option>
            <option data-countryCode="MR" value="222">Mauritania (+222)</option>
            <option data-countryCode="YT" value="269">Mayotte (+269)</option>
            <option data-countryCode="MX" value="52">Mexico (+52)</option>
            <option data-countryCode="FM" value="691">Micronesia (+691)</option>
            <option data-countryCode="MD" value="373">Moldova (+373)</option>
            <option data-countryCode="MC" value="377">Monaco (+377)</option>
            <option data-countryCode="MN" value="976">Mongolia (+976)</option>
            <option data-countryCode="MS" value="1664">Montserrat (+1664)</option>
            <option data-countryCode="MA" value="212">Morocco (+212)</option>
            <option data-countryCode="MZ" value="258">Mozambique (+258)</option>
            <option data-countryCode="MN" value="95">Myanmar (+95)</option>
            <option data-countryCode="NA" value="264">Namibia (+264)</option>
            <option data-countryCode="NR" value="674">Nauru (+674)</option>
            <option data-countryCode="NP" value="977">Nepal (+977)</option>
            <option data-countryCode="NL" value="31">Netherlands (+31)</option>
            <option data-countryCode="NC" value="687">New Caledonia (+687)</option>
            <option data-countryCode="NZ" value="64">New Zealand (+64)</option>
            <option data-countryCode="NI" value="505">Nicaragua (+505)</option>
            <option data-countryCode="NE" value="227">Niger (+227)</option>
            <option data-countryCode="NG" value="234">Nigeria (+234)</option>
            <option data-countryCode="NU" value="683">Niue (+683)</option>
            <option data-countryCode="NF" value="672">Norfolk Islands (+672)</option>
            <option data-countryCode="NP" value="670">Northern Marianas (+670)</option>
            <option data-countryCode="NO" value="47">Norway (+47)</option>
            <option data-countryCode="OM" value="968">Oman (+968)</option>
            <option data-countryCode="PK" value="92">Pakistan (+92)</option>
            <option data-countryCode="PW" value="680">Palau (+680)</option>
            <option data-countryCode="PA" value="507">Panama (+507)</option>
            <option data-countryCode="PG" value="675">Papua New Guinea (+675)</option>
            <option data-countryCode="PY" value="595">Paraguay (+595)</option>
            <option data-countryCode="PE" value="51">Peru (+51)</option>
            <option data-countryCode="PH" value="63">Philippines (+63)</option>
            <option data-countryCode="PL" value="48">Poland (+48)</option>
            <option data-countryCode="PT" value="351">Portugal (+351)</option>
            <option data-countryCode="PR" value="1787">Puerto Rico (+1787)</option>
            <option data-countryCode="QA" value="974">Qatar (+974)</option>
            <option data-countryCode="RE" value="262">Reunion (+262)</option>
            <option data-countryCode="RO" value="40">Romania (+40)</option>
            <option data-countryCode="RU" value="7">Russia (+7)</option>
            <option data-countryCode="RW" value="250">Rwanda (+250)</option>
            <option data-countryCode="SM" value="378">San Marino (+378)</option>
            <option data-countryCode="ST" value="239">Sao Tome &amp; Principe (+239)</option>
            <option data-countryCode="SA" value="966">Saudi Arabia (+966)</option>
            <option data-countryCode="SN" value="221">Senegal (+221)</option>
            <option data-countryCode="CS" value="381">Serbia (+381)</option>
            <option data-countryCode="SC" value="248">Seychelles (+248)</option>
            <option data-countryCode="SL" value="232">Sierra Leone (+232)</option>
            <option data-countryCode="SG" value="65">Singapore (+65)</option>
            <option data-countryCode="SK" value="421">Slovak Republic (+421)</option>
            <option data-countryCode="SI" value="386">Slovenia (+386)</option>
            <option data-countryCode="SB" value="677">Solomon Islands (+677)</option>
            <option data-countryCode="SO" value="252">Somalia (+252)</option>
            <option data-countryCode="ZA" value="27">South Africa (+27)</option>
            <option data-countryCode="ES" value="34">Spain (+34)</option>
            <option data-countryCode="LK" value="94">Sri Lanka (+94)</option>
            <option data-countryCode="SH" value="290">St. Helena (+290)</option>
            <option data-countryCode="KN" value="1869">St. Kitts (+1869)</option>
            <option data-countryCode="SC" value="1758">St. Lucia (+1758)</option>
            <option data-countryCode="SR" value="597">Suriname (+597)</option>
            <option data-countryCode="SD" value="249">Sudan (+249)</option>
            <option data-countryCode="SZ" value="268">Swaziland (+268)</option>
            <option data-countryCode="SE" value="46">Sweden (+46)</option>
            <option data-countryCode="CH" value="41">Switzerland (+41)</option>
            <option data-countryCode="SY" value="963">Syria (+963)</option>
            <option data-countryCode="TW" value="886">Taiwan (+886)</option>
            <option data-countryCode="TJ" value="992">Tajikistan (+992)</option>
            <option data-countryCode="TH" value="66">Thailand (+66)</option>
            <option data-countryCode="TG" value="228">Togo (+228)</option>
            <option data-countryCode="TO" value="676">Tonga (+676)</option>
            <option data-countryCode="TT" value="1868">Trinidad &amp; Tobago (+1868)</option>
            <option data-countryCode="TN" value="216">Tunisia (+216)</option>
            <option data-countryCode="TR" value="90">Turkey (+90)</option>
            <option data-countryCode="TM" value="993">Turkmenistan (+993)</option>
            <option data-countryCode="TC" value="1649">Turks &amp; Caicos Islands (+1649)</option>
            <option data-countryCode="TV" value="688">Tuvalu (+688)</option>
            <option data-countryCode="UG" value="256">Uganda (+256)</option>
            <option data-countryCode="UA" value="380">Ukraine (+380)</option>
            <option data-countryCode="AE" value="971">United Arab Emirates (+971)</option>
            <option data-countryCode="UY" value="598">Uruguay (+598)</option>
            <option data-countryCode="UZ" value="998">Uzbekistan (+998)</option>
            <option data-countryCode="VU" value="678">Vanuatu (+678)</option>
            <option data-countryCode="VA" value="379">Vatican City (+379)</option>
            <option data-countryCode="VE" value="58">Venezuela (+58)</option>
            <option data-countryCode="VN" value="84">Vietnam (+84)</option>
            <option data-countryCode="VG" value="1">Virgin Islands - British (+1)</option>
            <option data-countryCode="VI" value="1">Virgin Islands - US (+1)</option>
            <option data-countryCode="WF" value="681">Wallis &amp; Futuna (+681)</option>
            <option data-countryCode="YE" value="969">Yemen (North)(+969)</option>
            <option data-countryCode="YE" value="967">Yemen (South)(+967)</option>
            <option data-countryCode="ZM" value="260">Zambia (+260)</option>
            <option data-countryCode="ZW" value="263">Zimbabwe (+263)</option>
          </select>

          <input placeholder="Mobile" maxlength="10" name="mobile" id="mobile" type="tel" required>
        </div>

        <div class="form-group">
          <input type="email" placeholder="Enter mail..." id="mail" name="email" required="required">
          <label for="mail">
            <i class="fa fa-envelope"></i>
          </label>
        </div>

        <button type="submit" class="main-btn-rect btn-outline-primary" name="text" value="Send">
          <i class="fa fa-paper-plane "></i>Send</button>
      </form>
      <span class="fade-out main-btn-circle">╳</span>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      {{> sidebar}}
      <div class="fg-main-content-wrap col-xl-11 col-lg-11 col-md-12 p-0 home-section">
        {{> NameHead}}

        {{#if successMSG}}
        <div class="col-sm-12">
          <div id="alert-success" class="alert  alert-success alert-dismissible fade show" role="alert">
            <span class="badge badge-pill badge-success">Success</span>
            {{#ifEquals successMSG 'free' }}
            Cannot add more than 3 team members with free plan
            <a href="/pricing">check out here.</a>
            {{else}}

            {{#ifEquals successMSG 'basic' }}
            Cannot add more than 7 team members with free plan
            <a href="/pricing">check out here.</a>
            {{else}}
            {{successMSG}}
            {{/ifEquals}}
            {{/ifEquals}}

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        {{/if}}

        {{#if errorMSG}}
        <div class="col-sm-12"> 
          <div id="alert-error" class="alert  alert-danger alert-dismissible fade show" role="alert">
            <span class="badge badge-pill badge-danger">Alert</span>
             {{#ifEquals errorMSG 'free' }}
            Cannot add more than 3 team members with free plan
            <a href="/pricing">check out here.</a>
            {{else}}

            {{#ifEquals errorMSG 'basic' }}
            Cannot add more than 7 team members with free plan
            <a href="/pricing">check out here.</a>
            {{else}}
            {{errorMSG}}
            {{/ifEquals}}
            {{/ifEquals}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        {{/if}}


        <div class="row col-11 ml-5">
          <div class="col-8"></div>
          <div class="col-3 mb-2 mt-2">
            <button type="button" class="btn btn-outline-primary font-15 main-btn-rect popup-btn"
              data-popup="popup-reg">
              <i class="fas fa-plus-circle font-12"></i>
              <span class="ml-1 d-none d-sm-inline">Add Team Member</span>
            </button>

          </div>
        </div>
        {{#if user.teams}}
        <table>
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Mobile</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each user.teams}}
            <tr>
              {{!-- <td data-label="Account"><a href="/user/member/dashboard/{{_id}}">{{name}}</a></td> --}}
              <td data-label="Name"><a href="#">{{name}}</a></td>
              <td data-label="Email">{{email}}</td>
              <td data-label="Mobile">{{mobile}}</td>
              {{!-- <td data-label="Amount">{{myleads.length}}</td> --}}
              {{!-- <td><a href="/member/blocked/{{_id}}"><i class="fa-solid fa-ban" style="color: #ff0000;"></i></a>
              </td> --}}
              <td data-label="Actions" style="display: flex; gap: 4px;">
                {{#if blocked}}
                <a href="/user/member/un-blocked/{{_id}}"><button type="button"
                    class="btn btn-success btn-sm">Un-Block</button></a>
                {{else}}
                <a href="/user/member/blocked/{{_id}}"><button type="button"
                    class="btn btn-danger btn-sm">Block</button></a>
                {{/if}}
                 <button type="button" class="btn btn-success btn-sm" onclick="openTeamMemberUpdateForm('{{_id}}')">Edit</button>
              </td>
            </tr>
            {{/each }}

          </tbody>
        </table>
        {{else}}
        <h1 style="
      text-align: center;
      padding: 40px 70px;
    font-size: 30px !important;
    color: #36383a89;
      ">You dont have any team member.</h1>
        {{/if}}


      </div>
    </div>
{{#each user.teams}}
    <div class="form-container team-update hiden" id="teamMemberUpdateFormContainer-{{_id}}">
        <form id="teamMemberUpdateForm-{{_id}}">
        
            
            <div class="input-group">
                
                <div class="input-icon">
                   <i class="fa-solid fa-rectangle-xmark" onclick="closeTeamMemberUpdateForm()" style="color: crimson; font-size: 1.6rem;"></i>
                   
                </div>
            </div>
            <div class="input-group">
                
                <div class="input-icon">
                    <input type="text" id="INP-name-{{_id}}" name="name" value="{{name}}" required>
                   
                </div>
            </div>
            <div class="input-group">
               
                <div class="input-icon">
                    <input type="tel" id="INP-mobile-{{_id}}" name="mobile" value="{{mobile}}" required>
                   
                </div>
            </div>
            <div class="input-group">
              
                <div class="input-icon">
                    <input type="email" id="INP-email-{{_id}}" name="email" value="{{email}}" required>
               
                </div>
            </div>
            <div class="input-group">
              
                <div class="input-icon">
                    <input type="text" id="INP-pass-{{_id}}" name="password" value="{{password}}" required>
               
                </div>
            </div>
             
            <button type="button" class="button" onclick="submitTeamMemberEditForm('{{_id}}')">Save</button>
        </form>
    </div>
{{/each}}
  </div>
  <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==" src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh"
    crossorigin="anonymous"></script>
  <script nonce="Hg5F/VDpALFrdOCYRvBAvQ=="
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script nonce="Hg5F/VDpALFrdOCYRvBAvQ=="
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <script nonce="Hg5F/VDpALFrdOCYRvBAvQ=="
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.12/js/bootstrap-select.js"></script>

  <script nonce="Hg5F/VDpALFrdOCYRvBAvQ=="
    src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
  <script src="/js/dependencies/sweetalert.min.js?nonce=Hg5F/VDpALFrdOCYRvBAvQ=="></script>
  <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==" src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/assets/js/timezones.full.min.js"></script>
  <script src="/assets/js/custom-new.js"></script>
  <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==" type="text/javascript">
    $(document).ready(function () {
      $('#signup').on('submit', function () {
        $('.loader-display').css('display', 'block');
      });
    });
  </script>
  <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==">
    $(window).scroll(function () {
      if ($(window).scrollTop() >= 72) {
        $('#top_header').addClass('sticky');
      } else {
        $('#top_header').removeClass('sticky');
      }
    });
  </script>
  <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==">
    $('#nav-tab a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    });

    // store the currently selected tab in the hash value
    $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
      var id = $(e.target).attr("href").substr(1);
      console.log("id", id);
      window.location.hash = id;
    });

    // on load of the page: switch to the currently selected tab
    var hash = window.location.hash;
    $('#nav-tab a[href="' + hash + '"]').tab('show');
  </script>

  {{!-- facebooklogin sdk --}}

  <script src="/kjs/sendmail.js"></script>

  <script>
    async function populateCountryCodes() {
      try {
        const response = await fetch('https://restcountries.com/v3.1/all');
        const countries = await response.json();

        const selectElement = document.getElementById('countryCode');

        countries.forEach(country => {
          if (country.idd && country.idd.root) {
            const countryCode = country.idd.root + (country.idd.suffixes ? country.idd.suffixes[0] : '');
            const option = document.createElement('option');
            option.value = countryCode;
            option.text = `${country.name.common} (${countryCode})`;
            selectElement.appendChild(option);
          }
        });
      } catch (error) {
        console.error('Error fetching country data:', error);
      }
    }

    // Call the function to populate country codes when the page loads
    window.onload = populateCountryCodes;

async function submitTeamMemberEditForm(id){
  findLead()
  const form = document.getElementById(`teamMemberUpdateForm-${id}`);
  let name = document.querySelector(`#INP-name-${id}`).value
  let mobile = document.querySelector(`#INP-mobile-${id}`).value
  let email = document.querySelector(`#INP-email-${id}`).value
  let password = document.querySelector(`#INP-pass-${id}`).value
  let formData = {
    name,
    mobile,
    email,
    password,
  }
    const actionUrl = `/user/member/update/${id}`;
  console.log(formData)
    try {
      findLead()
      // Send POST request using Axios
      const response = await axios.post(actionUrl, formData);
      console.log("Form submitted successfully:", response.data);
      location.reload()
    } catch (error) {
      // Handle error
      console.error("Error submitting form:", error);
    }
}

function loadMember(){
 findLead()
}

function openTeamMemberUpdateForm(id){
  let formContainer = document.querySelector(`#teamMemberUpdateFormContainer-${id}`)
  console.log(formContainer)
  formContainer.classList.remove('hiden');
}

function closeTeamMemberUpdateForm(){
  let forms = document.querySelectorAll(`.team-update`)
  forms.forEach((form)=>{
    if(!form.classList.contains('hiden')){
      form.classList.add('hiden');
    }
  })
}
  </script>

      <script>
    function findLead(){
        console.log('clickkeeedddd Loader function ')
      
        let loadBox = document.querySelector('#findNewLeadloader')
            console.log(loadBox)
        let body = document.querySelector('body')
        if(loadBox){
            console.log('clickkeeedddd')
            loadBox.style.display = 'flex'
            body.style.height =  `100vh !important`
            body.style.overflow = 'hidden'
        }
    }
</script>
</body>

</html>